/*

Module: login.css

Function:
    Implementation code for Login CSS.

Copyright and License:
    See accompanying LICENSE file for copyright and license information.

Author:
    AthiSankar, MCCI Corporation   Oct 2023

*/

.login,
.image {
    min-height: 100vh;
}
/* .bg-image {
    background-image: url('./fun.png');
    background-size: cover;
    background-position: center center;
} */
.logo-right-top {
    position: absolute;
    top: 0px;
    right: 3px;
    height: 60px; /* Adjust based on the actual size of your logo */
    width: 100px; /* Adjust based on the actual size of your logo */
    background-image: url('./mcci.png'); /* Ensure this path is correct */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10; /* Ensure it's above other elements but not necessarily 1000 */
}


/*

Name:	logincss()

Function:
    Start logincss handles the styles of LoginPage

Definition:
    This CSS code snippet styles a login page, featuring a background image, button styling, 
and specific positioning and formatting for various text elements and a fixed-position footer.

Description:
	This CSS code snippet defines styles for a login page, including a full-height background image,
customized button appearance, and specific formatting for text elements such as login/signup options,
forgot password, and a virtual reality (VR) indication. Additionally, it includes a fixed-position 
footer with a distinct layout.

*/


/* Login.css or your custom CSS file */
.btn-smaller {
    padding: 0.25rem 1rem; /* You can adjust the padding values to make the button smaller */
    width: 30%;
}

.loginsignup {
    margin-top: -10px;
    margin-left: 130px;
    font-size: 14px;
}
.loginforgot {
    font-size: 14px;
    margin-left: 280px;
}
.loginvr {
    font-size: 10px;
    margin-left: 250px;
    margin-top: -27px;
    position: absolute;
}
.loginvr1 {
    font-size: 10px;
    margin-left: 110px;
    margin-top: -20px;
    position: fixed;
}
.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%; /* This might be too wide for mobile screens */
    background-color: #f8f9fa;
    padding: 0px;
    text-align: center;
    font-size: 12px; /* Adjusting for smaller screens might be necessary */
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links a {
    color: #007bff; /* Adjust the color to match your design */
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive adjustments for the footer */
@media (max-width: 768px) {
    .footer {
        width: 100%; /* Make the footer full-width on smaller screens */
        font-size: 10px; /* Adjust font size for smaller screens */
        padding: 10px 0; /* Add some padding for better spacing */
    }
}


/**** end of login.css ****/